button {
    position: relative;
    border-radius: 10px;
    width: 280px;
    height: 35px;
    font-size: 15;
    font-weight: 700;
    text-transform: initial;
    background-color: #13354F;
    color: #FFFFFF;
}
form {
    position: relative;
}
input {
    text-align: center;
    border: transparent;
}
input.placeholder {
    text-align: center;
}
.container {
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: .5px;
}
.button-container {
    position: relative;
    top: 8px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 5px;
    gap: 10px;
}