<ion-content>
  <div class="container">
    
    <div class="header">
      Crea tu <br> evento
    </div>

    <form #eventCreatorForm="ngForm" (ngSubmit)="createEvent(eventCreatorForm.value)">
      <ion-label><strong>Nombre evento</strong><span>
        <div *ngIf="eventName.invalid  && (eventName.dirty || eventName.touched)" class="validation-error-message">
          <div *ngIf="eventName.errors?.['required']" class="validation-error-message">
            Campo requerido.
          </div>
          <div *ngIf="eventName.errors?.['minlength']" class="validation-error-message">
            8 caracteres mínimo.
          </div>
        </div>
      </span></ion-label>
      <ion-input
        #eventName="ngModel" name="eventName" type="text" placeholder="Desarrollo de Apps Móviles" minlength="8" required ngModel>
      </ion-input>

      <ion-label><strong>Código evento</strong><span>
        <div *ngIf="eventCode.invalid  && (eventCode.dirty || eventCode.touched)" class="validation-error-message">
          <div *ngIf="eventCode.errors?.['required']" class="validation-error-message">
            Campo requerido.
          </div>
          <div *ngIf="eventCode.errors?.['minlength']" class="validation-error-message">
            6 caracteres mínimo.
          </div>
        </div>
      </span></ion-label>
      <ion-input
        #eventCode="ngModel" name="eventCode" type="text" placeholder="PGY4121-008V" minlength="6" required ngModel>
      </ion-input>
    
      <ion-label><strong>Tipo de evento</strong><span>
        <div *ngIf="eventType.invalid  && (eventType.dirty || eventType.touched)" class="validation-error-message">
          <div *ngIf="eventType.errors?.['required']" class="validation-error-message">
            Campo requerido.
          </div>
          <div *ngIf="eventType.errors?.['minlength']" class="validation-error-message">
            6 caracteres mínimo.
          </div>
        </div>
      </span></ion-label>
      <ion-input 
        #eventType="ngModel" name="eventType" type="text" placeholder="Lección/Capacitación/etc." minlength="6" required ngModel>
      </ion-input>
      <div class="button-container">
        <button class="primary" type="submit">Crear evento</button>
      </div>    
    </form>

    <div class="picker-container" >
      <button class="picker" (click)="showPicker()" type="button">
        <img src="assets/icon/calendar-outline.svg" alt="calendar">
      </button>
      <h6>{{ unformattedDate }}</h6>
    </div>

  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="navToMainPage()">
        <img src ="assets/icon/home.icon.tab.svg">
      </ion-tab-button>
  
      <ion-tab-button (click)="navToUsersmainPage()">
        <img src ="assets/icon/look.users.icon.tab.svg">
      </ion-tab-button>
      
      <ion-tab-button (click)="navToEventCreatorPage()">
        <img src ="assets/icon/new.event.icon.tab.svg">
      </ion-tab-button>
      
      <ion-tab-button (click)="navToSubscribedEventsPage()">
        <img src ="assets/icon/subs.events.icon.tab.svg">
      </ion-tab-button>

      <ion-tab-button (click)="navToMyEventsPage()">
        <img src ="assets/icon/myevents.icon.tab.svg">
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>