<div class="container">
  <h6><strong>ID: </strong>{{ event.eventId }}</h6>
  <h6><strong>Evento: </strong>{{ event.eventName }}</h6>
  <h6><strong>Código: </strong>{{ event.eventCode }}</h6>
  <h6><strong>Tipo: </strong>{{ event.eventType }}</h6>
  <h6><strong>Fecha: </strong>{{ event.eventDate }}</h6>
  <h6><strong>Status: </strong>Próximo</h6>
  <div class="qr-container">
    <qrcode
      [qrdata]="QRCode"
      [errorCorrectionLevel]="'M'"
      [margin]="2"
      [scale]="1"
      [title]="'A custom title attribute'"
      [width]="130">
    </qrcode>
  </div>
  <div class="button-container">
    <button name="check-guestlist" type="submit" (click)="navToParticipants()">
      Ver lista de participantes
    </button>
    <button name="check-guestlist" type="submit" (click)="navToUsers()">
      Inscribir participante
    </button>
  </div>
</div>