<ion-content>
  <div class="container">
    <div class="header">
      Iniciar
    </div>
    <h6>Bienvenido!</h6>
    <p>Ingresa tus credenciales<br>para acceder a Events</p>
    <form #credsForm="ngForm" (ngSubmit)="login(credsForm.value)">
      <ion-label><strong>Email ID</strong></ion-label>
      <ion-input name="email" id="email" type="text" placeholder="example@example.com" ngModel></ion-input>
      
      <ion-label><strong>Contraseña</strong></ion-label>
      <ion-input name="password" id="pass" type="password" placeholder="*******************" ngModel></ion-input>
      <p class="dialog">
        Olvidaste tu <a><strong>contraseña</strong></a>?
      </p>
      <div class="button-container">
        <ion-button type="submit" class="login" color="primary">
          Iniciar sesión
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>