<ion-content>
  <div class="header">
    <div>      
      <img src="assets/icon/qr.icon.svg" alt="main-logo">
    </div>
    <div>
      <img src="assets/icon/treepoints.menu.svg" alt="main-logo">      
    </div>
  </div>
  <div class="body">
    <div>
      <h6>Usuario Events</h6>
    </div>
    <div>      
      <div class="cred-card">
        <div class="eventsapp-icon">
          <img src="assets/icon/eventsapp.mini.svg" alt="main-logo">
        </div>
        <div>
          <h5>{{ fullname }}</h5>
        </div>
        <div>
          <h4>{{ username }}</h4>
        </div>
        <div class="qr">
          <qrcode
            [qrdata]="qrCodeString"
            [errorCorrectionLevel]="'M'"
            [margin]="2"
            [scale]="1"
            [title]="'A custom title attribute'"
            [width]="130">
          </qrcode>
        </div>
        <div>
          <h3>{{ occupation }}</h3>
        </div>
        <div>
          <h2>{{ email }}</h2>
        </div>
      </div>
    </div>   
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
  
      <ion-tab-button name="logout-btn" (click)="logout()" tab="">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
